version: '3.8'

services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile
    image: vaxcare-tests:latest
    container_name: vaxcare-test-runner
    volumes:
      # Mount TestResults directory to host for report access (includes HTML reports)
      - ./TestResults:/app/TestResults
    # Run tests with HTML report generation (filter can be overridden)
    # Default filter from Dockerfile CMD will be used if not specified
    # To run different tests: docker-compose run tests --filter "FullyQualifiedName~YourTest"


