version: '3.8'

services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile
    image: vaxcare-tests:latest
    container_name: vaxcare-test-runner
    volumes:
      # Mount TestResults directory to host for report access
      - ./TestResults:/app/TestResults
    # Run tests and exit
    command: dotnet test --no-build -c Release --verbosity normal --filter "FullyQualifiedName~GoogleSearchTest" --logger "trx;LogFileName=TestResults.trx" --results-directory /app/TestResults


