version: '3.8'

services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile.windows
    image: vaxcare-tests-windows:latest
    container_name: vaxcare-test-runner-windows
    volumes:
      # Mount TestResults directory to host for report access (Windows path)
      - .\TestResults:C:\app\TestResults
    # Run tests and exit
    command: dotnet test --no-build -c Release --verbosity normal --filter "FullyQualifiedName~GoogleSearchTest" --logger "trx;LogFileName=TestResults.trx" --results-directory C:\app\TestResults

