<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QA" connectionString="Data Source=sqlqa.vaxcare.com; Initial Catalog=DataEntry; connection timeout=60; TrustServerCertificate =True; Integrated Security=True;"/>
		<add name ="STG" connectionString="Data Source=sqlstg.vaxcare.com; Initial Catalog=DataEntry; connection timeout=60; TrustServerCertificate =True; Integrated Security=True;"/>
	</connectionStrings>
</configuration>